.body-productos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 240px;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
    margin-top: 30px;
}

.card-producto {
    background-color: var(--color-primary);
    width: 210px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    color: var(--color-secondary);
    box-shadow: var(--cards-shadow);
    /* display: inline-block; */
    min-height: 300px;
    transition: all .2s;
    cursor: pointer;
}

.card-producto:hover{
    /* opacity: 0.7; */
    transform: scale(1.05);   
}

.card-producto img {

    width: 210px;
    height: 150px
}

.card-producto hr {
    margin-top: -5px;
}

.card-producto-info {
    padding: 0 10px;
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-producto-info p {
    font-size: 14px;
}

.card-producto-info input {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: 2px solid  transparent;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s;
}

.card-producto-info input:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border: 2px solid var(--color-secondary);
}
.card-producto-info input:active {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.card-producto-botton {
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
}

@media (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 500px;
        text-align: center;
    }

 

    .botton-menu {
        display: block;
        background-color: transparent;
        border-color: transparent;  
    }

    .botton-menu img {
        height: 35px;
        width: 35px;
    }


}